{{ if eq .chezmoi.os "darwin" -}}
#!/bin/bash

cat >~/.Brewfile <<EOF


####################################################################################################
# HomeBrew Taps
####################################################################################################

#######################################
# Global
#######################################
{{ range .packages.darwin.taps.global -}}
tap {{ . | quote }}
{{ end -}}


{{- if eq .personal true }}
#######################################
# Personal
#######################################
{{ range .packages.darwin.taps.personal }}
tap {{ . | quote }}
{{- end }}
{{- end }}


{{- if eq .work true }}
#######################################
# Work
#######################################
{{ range .packages.darwin.taps.work }}
tap {{ . | quote }}
{{- end }}
{{- end }}


####################################################################################################
# HomeBrew Brews
####################################################################################################

#######################################
# Global
#######################################
{{ range .packages.darwin.brews.global -}}
brew {{ . | quote }}
{{ end -}}


{{- if eq .personal true }}
#######################################
# Personal
#######################################
{{ range .packages.darwin.brews.personal }}
brew {{ . | quote }}
{{- end }}
{{- end }}


{{- if eq .work true }}
#######################################
# Work
#######################################
{{ range .packages.darwin.brews.work }}
brew {{ . | quote }}
{{- end }}
{{- end }}

####################################################################################################
# HomeBrew Casks
####################################################################################################

#######################################
# Global
#######################################
{{ range .packages.darwin.casks.global -}}
cask {{ . | quote }}
{{ end -}}


{{- if eq .personal true }}
#######################################
# Personal
#######################################
{{ range .packages.darwin.casks.personal }}
cask {{ . | quote }}
{{- end }}
{{- end }}


{{- if eq .work true }}
#######################################
# Work
#######################################
{{ range .packages.darwin.casks.work }}
cask {{ . | quote }}
{{- end }}
{{- end }}

EOF
{{ end -}}

brew bundle --file=~/.Brewfile
