{{ if eq .chezmoi.os "darwin" -}}
#!/bin/bash

cat >~/.Brewfile <<EOF


####################################################################################################
# HomeBrew Taps
####################################################################################################

#######################################
# Global
#######################################
{{ range .packages.darwin.taps.global -}}
tap {{ . | quote }}
{{ end -}}


{{- if eq .personal true }}
#######################################
# Personal
#######################################
{{ range .packages.darwin.taps.personal }}
tap {{ . | quote }}
{{- end }}
{{- end }}


{{- if eq .work true }}
#######################################
# Work
#######################################
{{ range .packages.darwin.taps.work }}
tap {{ . | quote }}
{{- end }}
{{- end }}


####################################################################################################
# HomeBrew Brews
####################################################################################################

#######################################
# Global
#######################################
{{ $isEphemeral := or (and (hasKey . "ephemeral") .ephemeral) (eq (env "EPHEMERAL") "true") }}
{{ range .packages.darwin.brews.global -}}
  {{- if or (not $isEphemeral) (not (hasKey . "excludeEphemeral")) (not .excludeEphemeral) }}
brew {{ .name | quote }}
  {{- end }}
{{ end -}}


{{- if eq .personal true }}
#######################################
# Personal
#######################################
{{ range .packages.darwin.brews.personal }}
  {{- if or (not $isEphemeral) (not (hasKey . "excludeEphemeral")) (not .excludeEphemeral) }}
brew {{ .name | quote }}
  {{- end }}
{{- end }}
{{- end }}


{{- if eq .work true }}
#######################################
# Work
#######################################
{{ range .packages.darwin.brews.work }}
  {{- if or (not $isEphemeral) (not (hasKey . "excludeEphemeral")) (not .excludeEphemeral) }}
brew {{ .name | quote }}
  {{- end }}
{{- end }}
{{- end }}

####################################################################################################
# HomeBrew Casks
####################################################################################################

#######################################
# Global
#######################################
{{ range .packages.darwin.casks.global -}}
  {{- if or (not $isEphemeral) (not (hasKey . "excludeEphemeral")) (not .excludeEphemeral) }}
cask {{ .name | quote }}{{ if (hasKey . "args") }}, args: {{ .args | toJson }}{{ end }}
  {{- end }}
{{ end -}}


{{- if eq .personal true }}
#######################################
# Personal
#######################################
{{ range .packages.darwin.casks.personal }}
  {{- if or (not $isEphemeral) (not (hasKey . "excludeEphemeral")) (not .excludeEphemeral) }}
cask {{ .name | quote }}{{ if (hasKey . "args") }}, args: {{ .args | toJson }}{{ end }}
  {{- end }}
{{- end }}
{{- end }}


{{- if eq .work true }}
#######################################
# Work
#######################################
{{ range .packages.darwin.casks.work }}
  {{- if or (not $isEphemeral) (not (hasKey . "excludeEphemeral")) (not .excludeEphemeral) }}
cask {{ .name | quote }}{{ if (hasKey . "args") }}, args: {{ .args | toJson }}{{ end }}
  {{- end }}
{{- end }}
{{- end }}

EOF
{{ end -}}

brew bundle --file=~/.Brewfile
