{{ if eq .chezmoi.os "darwin" -}}
#!/bin/bash

{{ $isEphemeral := or .ephemeral (eq (env "EPHEMERAL") "true") }}
{{ $isHeadless := or .headless (eq (env "HEADLESS") "true") }}

cat >~/.Brewfile <<EOF

####################################################################################################
# HomeBrew Taps
####################################################################################################

{{ template "brewList.tmpl" (list .packages.darwin.taps.global "tap" $isEphemeral $isHeadless) }}
{{ template "brewList.tmpl" (list .packages.darwin.brews.global "brew" $isEphemeral $isHeadless) }}
{{ template "brewList.tmpl" (list .packages.darwin.casks.global "cask" $isEphemeral $isHeadless) }}

{{- if eq .personal true }}
  {{ template "brewList.tmpl" (list .packages.darwin.taps.personal "tap" $isEphemeral $isHeadless) }}
  {{ template "brewList.tmpl" (list .packages.darwin.brews.personal "brew" $isEphemeral $isHeadless) }}
  {{ template "brewList.tmpl" (list .packages.darwin.casks.personal "cask" $isEphemeral $isHeadless) }}
{{- end }}

{{- if eq .work true }}
  {{ template "brewList.tmpl" (list .packages.darwin.taps.work "brew" $isEphemeral $isHeadless) }}
  {{ template "brewList.tmpl" (list .packages.darwin.brews.work "tap" $isEphemeral $isHeadless) }}
  {{ template "brewList.tmpl" (list .packages.darwin.casks.work "cask" $isEphemeral $isHeadless) }}
{{- end }}

EOF
{{ end -}}

brew bundle --file=~/.Brewfile
