{{- $email := "" -}}
{{- if hasKey . "email" -}}
{{-   $email = .email -}}
{{- else -}}
{{-   $email = promptString "email" -}}
{{- end -}}

{{- $environment := "" -}}
{{- if hasKey . "environment" -}}
{{-   $environment = .environment -}}
{{- else -}}
{{-   $environment = promptString "Environment (personal,work)" -}}
{{- end -}}

{{- $github_ssh_key := "" -}}
{{- if hasKey . "github_ssh_key" -}}
{{-   $github_ssh_key = .github_ssh_key -}}
{{- else -}}
{{-   if eq $environment "personal" -}}
{{-     $github_ssh_key = "ssh-ed25519 AAAAC3NzaC1lZDI1NTE5AAAAIJiHQKLIWf95xqxtYzmmUDTWAKRdUwdXznTgkh37MSZR" -}}
{{-   else -}}
{{-     $github_ssh_key = "ssh-ed25519 AAAAC3NzaC1lZDI1NTE5AAAAIDQM63/8yrOoEq7/H3vWmwykwmn0FtVGmQFsOfAFTLQS" -}}
{{-   end -}}
{{- end -}}

{{- $osid := .chezmoi.os -}}
{{- if hasKey .chezmoi.osRelease "id" -}}
{{-   $osid = printf "%s-%s" .chezmoi.os .chezmoi.osRelease.id -}}
{{- end -}}

scriptTempDir: "~/tmp"
git:
  autoCommit: true
  autoPush: true
diff:
  pager: delta
data:
    email: {{ $email | quote }}
    github_ssh_key: {{ $github_ssh_key | quote }}
    environment: {{ $environment | quote }}
    osid: {{ $osid | quote }}
