# ============================================================================
# = Homebrew Taps
# ============================================================================

tap "1password/tap"
tap "buo/cask-upgrade"
tap "hashicorp/tap"
tap "homebrew/bundle"
tap "jandedobbeleer/oh-my-posh"
tap "ttscoff/thelab"
tap "warrensbox/tap"
tap "ankitpokhrel/jira-cli"

# ============================================================================
# = Homebrew packages
# ============================================================================

brew "ack"
brew "asciinema"
brew "aspell"
brew "bash"
brew "bat"
brew "bat-extras"
brew "bottom"
brew "brew-gem"
brew "ccat"
brew "chezmoi"
brew "chrome-cli"
brew "clang-format"
brew "cloc"
brew "colordiff"
brew "commitizen", link: false
brew "coreutils"
brew "ctags"
brew "curl"
brew "dash"
brew "delve"
brew "direnv"
brew "dos2unix"
brew "findutils"
brew "freetds"
brew "fzf"
brew "gem-colorls"
brew "gem-marked-conductor"
brew "gh"
brew "ghostscript"
brew "git-delta"
brew "git-lfs"
brew "git-town"
brew "git"
brew "github-keygen"
brew "gitleaks"
brew "glow"
brew "gmp"
brew "gnupg"
brew "go"
brew "golangci-lint"
brew "graphviz"
brew "grep"
brew "helm"
brew "highlight"
brew "htop"
brew "hub"
brew "imagemagick"
brew "ipcalc"
brew "jenv"
brew "jq"
brew "jsonlint"
brew "kubernetes-cli"
brew "less"
brew "lesspipe"
brew "libmagic"
brew "lnav"
brew "minikube"
brew "multimarkdown"
brew "mysql"
brew "ncdu"
brew "fastfetch"
brew "nmap"
brew "node"
brew "openssl"
brew "p7zip"
brew "pandoc"
brew "pinentry-mac"
brew "pipx"
brew "pre-commit"
brew "pygments"
brew "python@3.12"
brew "rbenv"
brew "rename"
brew "ruby"
brew "ruby-build"
brew "sipcalc"
brew "source-highlight"
brew "speedtest-cli"
brew "ssh-copy-id"
brew "streamlink"
brew "switchaudio-osx"
brew "terragrunt"
brew "tflint"
brew "tfsec"
brew "tfupdate"
brew "tmux"
brew "tmuxinator"
brew "trash"
brew "tree"
brew "ttscoff/thelab/gather-cli"
brew "vim"
brew "virtualenv"
brew "warrensbox/tap/tfswitch"
brew "watch"
brew "wget"
brew "whois"
brew "wifi-password"
brew "yamllint"
brew "zsh-autosuggestions"
brew "zsh-completions"
brew "zsh-syntax-highlighting"
brew "zsh"

{{- if eq .work true }}

brew "aws-auth"
brew "awscli"
brew "checkov"
brew "cloud-nuke"
brew "docker-credential-helper"
brew "docker"
brew "dockutil"
brew "gitmoji"
brew "jira-cli"
brew "iam-policy-json-to-terraform"
brew "terraform-docs"

{{- end }}

{{- if eq .personal true }}

{{- end }}

# ============================================================================
# = Homebrew Casks
# ============================================================================

cask "1password-cli"
cask "airbuddy"
cask "alfred"
cask "amazon-workspaces"
cask "arc"
cask "beyond-compare"
cask "caldigit-thunderbolt-charging"
cask "caldigit-docking-utility"
cask "camo-studio"
cask "dash"
cask "datagrip"
cask "devonthink"
cask "docker"
cask "dotnet-sdk"
cask "firefox"
cask "font-fira-code-nerd-font"
cask "font-inconsolata"
cask "font-jetbrains-mono"
cask "font-meslo-for-powerline"
cask "font-meslo-lg-nerd-font"
cask "goland"
cask "google-chrome"
cask "google-cloud-sdk"
cask "grammarly-desktop"
cask "hazel"
cask "iterm2"
# cask "logi-options-plus" This is causing issues on my machines
cask "kaleidoscope"
cask "keyboard-maestro"
cask "keyboardcleantool"
cask "microsoft-auto-update"
cask "microsoft-edge"
cask "microsoft-teams"
cask "obsidian"
## cask "omnifocus" Installed via TestFlight
cask "postman"
cask "powershell"
# cask "pycharm"
cask "raindropio"
# cask "safari-technology-preview"
cask "setapp" # Installed once manually
# cask "silentknight"
cask "signal"
cask "sf-symbols"
cask "slack"
cask "snagit"
cask "soundsource"
# cask "sublime-text"
# cask "temurin17"
cask "textexpander"
cask "tower"
cask "transmit"
# cask "visual-studio-code-insiders"
cask "visual-studio-code"
# cask "vlc"
cask "zoom"

{{- if eq .work true }}

cask "1password"
cask "wireshark"

{{- end }}

{{- if eq .personal true }}

cask "1password-beta"
cask "anylist"
cask "brave-browser"
cask "curseforge"
cask "discord"
cask "dropbox-beta"
cask "elgato-stream-deck"
cask "fastscripts"
cask "imazing"
cask "little-snitch"
cask "macupdater"
cask "mailmate"
cask "minecraft"
cask "parallels"
cask "private-internet-access"
cask "skim"
cask "tor-browser-alpha"
cask "viscosity"
cask "warp"
cask "zotero@beta"

{{- end }}

# ============================================================================
# = Mac App Store
# ============================================================================

# mas "1Password for Safari", id: 1569813296
# mas "Baking Soda", id: 1601151613
# mas "Battery Monitor", id:413678017
# mas "CARROT Weather", id:993487541
# mas "DaisyDisk", id: 411643860
# mas "Drafts", id: 1435957248
# mas "DuckDuckGo Privacy for Safari", id: 1482920575
# mas "Grammarly for Safari", id: 1462114288
# mas "Highlights", id: 1498912833
# mas "Microsoft Remote Desktop", id: 1295203466
# mas "Moom", id: 419330170
# mas "Noir", id: 1592917505
# mas "PCalc", id: 403504866
# mas "Reeder", id: 1529448980
# mas "Save to Raindrop.io", id: 1549370672
# mas "Save to Reader", id: 1640236961
# mas "Service Station", id: 1503136033
# mas "ShareBot", id: 1597340986
# mas "Slack", id: 803453959
# mas "StopTheMadness", id: 1376402589
# mas "TableFlip", id: 1462643128
# mas "TestFlight", id: 899247664
# mas "Timery", id: 1425368544
# mas "Toggl Track", id: 1291898086
# mas "The Clock", id: 488764545
# mas "Vinegar", id: 1591303229
# mas "Xcode", id: 497799835

# {{- if eq .work true }}

# {{- end }}

# {{- if eq .personal true }}

# mas "Cardhop", id: 1290358394
# mas "Day One", id: 1055511498
# mas "Fantastical", id: 975937182
# mas "HomeControl", id: 1547121417
# mas "HomePass", id: 1330266650
# mas "Hush", id: 1544743900
# mas "Keynote", id: 409183694
# mas "Mactracker", id: 430255202
# mas "Numbers", id:409203825
# mas "Pages", id: 409201541
# mas "Paprika Recipe Manager 3", id: 1303222628
# # mas "Parcel", id: 639968404
# mas "Pastel", id:413897608
# mas "Signals", id: 1453293391

# {{- end }}


# ============================================================================
# = VSCode Extensions
# ============================================================================

## vscode "1Password.op-vscode"
## vscode "4ops.packer"
## vscode "aaron-bond.better-comments"
## vscode "alefragnani.Bookmarks"
## vscode "atlassian.atlascode"
## vscode "bibhasdn.unique-lines"
## vscode "bierner.markdown-preview-github-styles"
## vscode "Catppuccin.catppuccin-vsc"
## vscode "chrisdias.vscode-opennewinstance"
## vscode "darkriszty.markdown-table-prettify"
## vscode "DavidAnson.vscode-markdownlint"
## vscode "eamodio.gitlens"
## vscode "EditorConfig.EditorConfig"
## vscode "fredwangwang.vscode-hcl-format"
## vscode "GitHub.remotehub"
## vscode "github.vscode-github-actions"
## vscode "GitHub.vscode-pull-request-github"
## vscode "golang.go"
## vscode "googlecloudtools.cloudcode"
## vscode "hashicorp.hcl"
## vscode "hashicorp.terraform"
## vscode "jasonnutter.vscode-codeowners"
## vscode "mechatroner.rainbow-csv"
## vscode "mindaro-dev.file-downloader"
## vscode "ms-python.python"
## vscode "ms-vscode.powershell"
## vscode "ms-vscode.remote-repositories"
## vscode "redhat.ansible"
## vscode "redhat.vscode-yaml"
## vscode "richie5um2.vscode-sort-json"
## vscode "szTheory.vscode-packer-powertools"
## vscode "wesbos.theme-cobalt2"
## vscode "wholroyd.jinja"
## vscode "yzhang.markdown-all-in-one"
