#!/bin/sh

{{ if (not .ephemeral) -}}

if command -v gh &>/dev/null; then
  extensions=(
    github/gh-copilot
    github/gh-dash
    seachicken/gh-poi
    meiji163/gh-notify
  )

if gh auth status &>/dev/null; then
  for ext in "${extensions[@]}"; do
    gh extension install "$ext"
  done
fi
fi

{{ end -}}
