#!/usr/bin/env bash

{{- if (not .ephemeral) -}}

# GitHub CLI updates
if command -v gh &>/dev/null; then
  extensions=(
    github/gh-copilot
    github/gh-dash
    seachicken/gh-poi
    meiji163/gh-notify
  )

  for ext in "${extensions[@]}"; do
    gh extension install "$ext"
  done
fi

{{ end -}}
