{{- if eq .work true }}

################################################################################
# Legacy
################################################################################

[profile dankops-admin]
sso_region = us-west-2
sso_registration_scopes = sso:account:access
sso_role_name = administrator
sso_start_url = https://ncr-digitalbanking.awsapps.com/start#
output = yaml
region = us-west-2
sso_account_id = 322653688247

# D3 Hosting Account
[profile d3banking-admin]
sso_region = us-west-2
sso_registration_scopes = sso:account:access
sso_role_name = administrator
sso_start_url = https://ncr-digitalbanking.awsapps.com/start#
output = yaml
region = us-west-2
sso_account_id = 087633845042

################################################################################
# Management Account
################################################################################

# Management Account
[profile corp-admin]
sso_region = us-west-2
sso_registration_scopes = sso:account:access
sso_role_name = AWSAdministratorAccess
sso_start_url = https://ncr-digitalbanking.awsapps.com/start#
output = yaml
region = us-west-2
sso_account_id = 740083677251

################################################################################
# Infrastructure & Security
################################################################################

# Log Archive
[profile logarchive-admin]
sso_region = us-west-2
sso_registration_scopes = sso:account:access
sso_role_name = AWSAdministratorAccess
sso_start_url = https://ncr-digitalbanking.awsapps.com/start#
output = yaml
region = us-west-2
sso_account_id = 460535612184

# Shared Services
[profile sharedservices-admin]
sso_region = us-east-2
sso_registration_scopes = sso:account:access
sso_role_name = AWSAdministratorAccess
sso_start_url = https://ncr-digitalbanking.awsapps.com/start#
output = yaml
region = us-west-2
sso_account_id = 739275481264


################################################################################
# Global Networking
################################################################################

# D3 Global Networking
[profile d3globalnetworking-admin]
sso_region = us-west-2
sso_registration_scopes = sso:account:access
sso_role_name = AWSAdministratorAccess
sso_start_url = https://ncr-digitalbanking.awsapps.com/start#
output = yaml
region = us-west-2
sso_account_id = 089290167525

################################################################################
# Sandbox
################################################################################

# D3 Sandbox
[profile sandbox-admin]
sso_region = us-west-2
sso_registration_scopes = sso:account:access
sso_role_name = AWSAdministratorAccess
sso_start_url = https://ncr-digitalbanking.awsapps.com/start#
output = yaml
region = us-west-2
sso_account_id = 789706088473

################################################################################
# FHN
################################################################################

# D3 FHN NonProd
[profile fhnnonprod-admin]
sso_region = us-west-2
sso_registration_scopes = sso:account:access
sso_role_name = AWSAdministratorAccess
sso_start_url = https://ncr-digitalbanking.awsapps.com/start#
output = yaml
region = us-west-2
sso_account_id = 228874976728

# D3 FHN Prod
[profile fhnprod-admin]
sso_region = us-west-2
sso_registration_scopes = sso:account:access
sso_role_name = AWSAdministratorAccess
sso_start_url = https://ncr-digitalbanking.awsapps.com/start#
output = yaml
region = us-west-2
sso_account_id = 699063096817

{{- end }}
