{{- if eq .environment "work" }}

[profile administrator-d3banking]
sso_region = us-west-2
sso_registration_scopes = sso:account:access
sso_role_name = administrator
sso_start_url = https://ncr-digitalbanking.awsapps.com/start#
output = yaml
region = us-west-2
sso_account_id = 087633845042

[profile administrator-d3corp]
sso_region = us-west-2
sso_registration_scopes = sso:account:access
sso_role_name = administrator
sso_start_url = https://ncr-digitalbanking.awsapps.com/start#
output = yaml
region = us-west-2
sso_account_id = 740083677251

[profile administrator-d3dankops]
sso_region = us-west-2
sso_registration_scopes = sso:account:access
sso_role_name = administrator
sso_start_url = https://ncr-digitalbanking.awsapps.com/start#
output = yaml
region = us-west-2
sso_account_id = 322653688247

[profile administrator-dbkdi]
sso_region = us-west-2
sso_registration_scopes = sso:account:access
sso_role_name = administrator
sso_start_url = https://ncr-digitalbanking.awsapps.com/start#
output = yaml
region = us-west-2
sso_account_id = 604967826023

[profile administrator-d3sandbox]
sso_region = us-west-2
sso_registration_scopes = sso:account:access
sso_role_name = administrator
sso_start_url = https://ncr-digitalbanking.awsapps.com/start#
output = yaml
region = us-west-2
sso_account_id = 789706088473

[profile read-only-d3banking]
sso_region = us-west-2
sso_registration_scopes = sso:account:access
sso_role_name = read-only
sso_start_url = https://ncr-digitalbanking.awsapps.com/start#
output = yaml
region = us-west-2
sso_account_id = 087633845042

[profile read-only-d3corp]
sso_region = us-west-2
sso_registration_scopes = sso:account:access
sso_role_name = read-only
sso_start_url = https://ncr-digitalbanking.awsapps.com/start#
output = yaml
region = us-west-2
sso_account_id = 740083677251

[profile read-only-d3dankops]
sso_region = us-west-2
sso_registration_scopes = sso:account:access
sso_role_name = read-only
sso_start_url = https://ncr-digitalbanking.awsapps.com/start#
output = yaml
region = us-west-2
sso_account_id = 322653688247

[profile read-only-dbkdi]
sso_region = us-west-2
sso_registration_scopes = sso:account:access
sso_role_name = read-only
sso_start_url = https://ncr-digitalbanking.awsapps.com/start#
output = yaml
region = us-west-2
sso_account_id = 604967826023

[profile read-only-d3sandbox]
sso_region = us-west-2
sso_registration_scopes = sso:account:access
sso_role_name = read-only
sso_start_url = https://ncr-digitalbanking.awsapps.com/start#
output = yaml
region = us-west-2
sso_account_id = 789706088473

# D3 Global Networking
[profile administrator-d3globalnetworking]
sso_region = us-west-2
sso_registration_scopes = sso:account:access
sso_role_name = AWSAdministratorAccess
sso_start_url = https://ncr-digitalbanking.awsapps.com/start#
output = yaml
region = us-west-2
sso_account_id = 089290167525

[profile readonly-d3globalnetworking]
sso_region = us-west-2
sso_registration_scopes = sso:account:access
sso_role_name = read-only
sso_start_url = https://ncr-digitalbanking.awsapps.com/start#
output = yaml
region = us-west-2
sso_account_id = 089290167525

[profile administrator-d3secuprod]
sso_region = us-west-2
sso_registration_scopes = sso:account:access
sso_role_name = AWSAdministratorAccess
sso_start_url = https://ncr-digitalbanking.awsapps.com/start#
output = yaml
region = us-west-2
sso_account_id = 511722726439

[profile readonly-d3secuprod]
sso_region = us-west-2
sso_registration_scopes = sso:account:access
sso_role_name = read-only
sso_start_url = https://ncr-digitalbanking.awsapps.com/start#
output = yaml
region = us-west-2
sso_account_id = 511722726439

{{- end }}
