{{- if eq .chezmoi.os "windows" -}}

echo "Installing Packages: {{ .osid }}"

{{- range .packages.windows.winget }}
winget install  {{ . | quote }}
{{- end }}



oh-my-posh font install meslo

{{ end -}}



