#!/bin/bash

{{ $sudo := "sudo " -}}
{{ if eq .chezmoi.username "root" -}}
{{   $sudo = "" -}}
{{ end -}}

echo "Installing Packages: {{ .osid }}"


{{ if (eq .osid "linux-debian" "linux-ubuntu" "linux-raspbian") -}}
{{ $sudo }}apt-get update
{{ $sudo }}apt-get install -y {{ range .packages.linux.debian.packages }} {{ . | quote }} {{- end }}
{{ end -}}

{{ if (eq .osid  "linux-fedora"  ) -}}

{{ range.packages.linux.fedora.copr }}
{{ $sudo }}dnf -y copr enable  {{ . | quote  }}
{{- end }}

{{ $sudo }}dnf -y install cargo
{{ range .packages.linux.fedora.cargo }}
cargo install  {{ . | quote  }}
{{- end }}

{{ $sudo }}dnf -y install {{ range .packages.linux.fedora.packages }} {{ . | quote  }} {{- end }}
{{ end -}}
