{{- if eq .osid "linux-ubuntu" -}}
#!/bin/bash

cd /tmp

sudo apt -y install curl \
                    direnv \
                    gem \
                    neofetch \
                    rbenv \
                    tmux \
                    vim \
                    zsh \

https://github.com/git-town/git-town/releases/download/v7.7.0/git-town_7.7.0_linux_arm_64.deb
sudo apt -y install ./git-town_7.7.0_linux_arm_64.deb
{{ end -}}
