{{- if eq .osid "linux-centos" -}}
#!/bin/bash

cd /tmp

sudo yum -y install curl \
                    gem \
                    tmux \
                    vim \
                    wget \
                    zsh \

{{ end -}}
