{{- if eq .chezmoi.os "linux" -}}
#!/bin/bash

echo "Installing Packages: {{ .osid }}"


{{ if (eq .osid "linux-debian" "linux-ubuntu" "linux-raspbian") -}}


# Update package list
sudo apt-get update

# Install packages
sudo apt-get install -y \
{{- range .packages.linux.packages }}
    {{ . }} \
{{- end }}

# Install Snaps
sudo snap install --classic \
{{- range .packages.linux.snaps }}
    {{ . }} \
{{- end }}

{{ end -}}

{{ end -}}
