{{- if eq .osid "linux-fedora" -}}
#!/bin/bash

cd /tmp

sudo dnf -y install bzip2 \
                    curl \
                    direnv \
                    gcc-c++ \
                    gdbm-devel \
                    gem \
                    git \
                    libffi-devel \
                    libyaml-devel \
                    ncurses-devel \
                    neofetch \
                    openssl-devel \
                    readline-devel \
                    tmux \
                    util-linux-user \
                    vim \
                    zlib-devel \
                    zsh \

{{ end -}}
