{{- if eq .chezmoi.os "linux" -}}
#!/bin/bash

echo "Installing Packages: {{ .osid }}"

{{ if (eq .osid "linux-debian" "linux-ubuntu" "linux-raspbian") -}}

# Update package list
sudo apt-get update

# Install packages
sudo apt-get install -y \

{{- range .packages.linux.packages }}
    {{ . }} \
{{- end }}

{{- else if (eq .osid "linux-rocky" "linux-fedora" "linux-centos" "linux-redhat") -}}

# Update package list
sudo yum update

# Install packages
sudo yum install -y \

{{- range .packages.linux.packages }}
    {{ . }} \
{{- end }}

{{- else if (eq .osid "linux-arch") -}}
{{- else if (eq .osid "linux-alpine") -}}
{{- else if (eq .osid "linux-suse") -}}
{{ end -}}


# Install Snaps
sudo snap install --classic \
{{- range .packages.linux.snaps }}
    {{ . }} \
{{- end }}


{{ end -}}
